@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-calendar {
  width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  font-family: inherit !important;
}
.admin-calendar .react-calendar__tile {
  padding: 1rem 0.5rem !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  border-radius: 8px !important;
}
.admin-calendar .react-calendar__tile--active {
  background: #991b1b !important;
  color: white !important;
}
.admin-calendar .react-calendar__tile--now {
  background: #f3f4f6 !important;
}

:root {
  --color-primary: 6 84 244;
  --color-secondary: 100 116 139;
  --color-dark: 15 23 42;
  --color-light: 248 250 252;
  --color-warm-light: 254 250 224;
  --font-sans: Roboto;
  --font-serif: Merriweather;
  --radius-btn: 8px;
  --radius-card: 12px;
}

/* Globális stílus finomhangolások */
body {
  @apply bg-light text-dark font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

/* Egyedi scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-light;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/50 rounded-full hover:bg-primary;
}
