@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globális stílus finomhangolások */
body {
  @apply bg-light text-dark font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

/* Egyedi scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-light;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/50 rounded-full hover:bg-primary;
}